/*main vars */

$stcBold: "STC-Bold";
$stcRegular: "STC-Regular";
$stcLight: "STC-Light";

/*arabic fonts */

@font-face {
    font-family: "STC-Bold";
    src: url("../fonts/STC-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "STC-Light";
    src: url("../fonts/STC-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "STC-Regular";
    src: url("../fonts/STC-Regular.ttf");
    font-weight: normal;
}

/*global rules */

body {
    font-family: $stcRegular;
    background-image: url(../imgs/main_bg.png);
    background-size: contain;
}


/*global classes */

.stc_bold {
    font-family: $stcBold ;
}

.stc_regular {
    font-family: $stcRegular;
}

.stc_light {
    font-family: $stcLight;
}

.main_heading {
    position: relative;
    text-align: center;
    margin-bottom: 64px;

    img {
        width: 300px;
        height: 55px;

        @media(max-width:991px) {
            width: 230px;
        }
    }

    span {
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-family: $stcBold;

        @media(max-width:991px) {
            font-size: 16px;
            top: 16px;
        }
    }
}


header {
    background-image: url(../imgs/header.png);
    height: 650px;
    position: relative;
    background-size: cover;
    background-position: center;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        background-image: url(../imgs/header_overlay.png);
        background-size: cover;
        background-position: center;
    }

    .navbar {
        position: relative;
        z-index: 10;

        .nav-item {
            .nav-link {
                color: #fff;
                font-family: $stcBold;
                font-size: 18px;
                padding-right: 1rem;
                padding-left: 1rem;
            }
        }
    }

    main {
        margin-top: 100px;
        z-index: 10;

        @media(max-width:991px) {
            margin: 10px;
        }

        h5 {
            font-size: 24px;

        }

        p {
            font-family: $stcLight;
            width: 60%;
            margin: auto;

            @media(max-width:991px) {
                width: 100%;
                font-size: 14px;
            }
        }
    }

    .right-shape {
        position: absolute;
        right: 0;
        top: 35%;
        z-index: 10;
    }

    .left-shape {
        position: absolute;
        left: 0;
        top: 35%;
        z-index: 10;
    }

}


/*projects*/


.projects {
    padding: 64px 0;

    .project {
        .proj_img {
            @media(max-width:1200px) {
                width: 100%;
            }
        }
    }
}

.partners {
    background-image: url(../imgs/partner_bg.png);
    background-size: cover;
    padding: 64px 0;

    .col-lg-3 {
        text-align: center;
    }

    .main_heading {
        span {
            color: #1d1c1e;
        }
    }
}

.services {
    padding: 64px 0;

    .ser_img {
        .rect {
            position: absolute;
            left: 8px;
            bottom: -8px;
            height: 16px;
        }
    }

    .ser_desc {
        background-color: #eef6f8;
        padding: 24px;
        border-radius: 0 0 20px 20px;
        margin-bottom: 30px;

        h5 {
            font-family: $stcBold;
        }
    }
}


footer {
    background-color: #1d1c1e;
    padding: 80px 0;

    .social {
        background-color: #2e2b2f;
        border-radius: 44px;
        width: 70%;
        text-align: center;
        top: -35px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);

        img {
            margin: 0 8px;
        }
    }

    .footer_content {
        text-align: center;

        img {
            margin-bottom: 12px;
        }

        p {
            color: #fff;
            width: 60%;
            margin: auto;

            @media(max-width:767px) {
                width: 100%;
            }
        }
    }
}

.contact_modal {
    height: 100vh;
    position: fixed;
    background-image: url(../imgs/main_bg.png);
    z-index: 8888;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    display: none;

    .contact_form {
        position: absolute;
        max-width: 650px;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: right;

        .form-group {
            display: flex;
            align-items: center;

            label {
                flex-basis: 30%;
                padding: 6px;
                background-color: #fff;
                margin: 0;
                height: 60px;
                border-radius: 0 0 5px #ccc;
                box-shadow: 0 0 5px #ccc;
                border-radius: 12px 24px 24px 16px;
            }
            span {
                background-color: #2e2b2f;
                color: #fff;
                width: 100%;
                height: 100%;
                border-radius: 12px 24px 24px 12px;
                display: flex;
                align-items: center;
                padding: 0 12px 0 0;
                font-family: $stcBold;
                font-size: 18px;
            }
            div{
                flex-basis: 70%;
                padding: 6px;
                border-radius: 24px 12px 12px 24px;
                box-shadow: 0 0 5px #ccc;
                height: 60px;
                input,textarea{
                    height: 100%;
                    width: 100%;
                    display: block;
                    border: none;
                    background-color: #eee;
                    border-radius: 24px 12px 12px 24px;
                    outline: none;
                }
            }
        }
    }
    .submit_form{
        text-align: center;
        button{
            border: none;
            outline: none;
            padding: 12px 64px;
            border-radius: 24px;
            font-weight: bold;
            font-size: 18px;
            color: #fff;
            background-color: #2e2b2f;
        }
    }
}

.close_modal{
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
}